# Python related
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment variables
.env
.secret.key

# Virtual environment
venv/

# Instance and database
instance/
*.db

# VSCode settings
.vscode/

# Pyenv
.python-version

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
build/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
*.pot

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# IDEs
*.idea/
*.iml

# MacOS files
.DS_Store
